<a href="https://colab.research.google.com/github/azizahkhoi/DTS/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=3
print(type(x))
print(x)
print(x+1)
print(x-1)
print(x*2)
print(x**2)
x += 2
print(x)
x *= 2
print(x)
y=2.5
print(type(y))
print(y, y+1, y*2, y **2)

<type 'int'>
3
4
2
6
9
5
10
<type 'float'>
(2.5, 3.5, 5.0, 6.25)

In [4]:
i=input('Masukkan Input :') #python3

Masukkan Input :3

In [5]:
data = ['hello', 'world']
for i in data:
    print (i)
    print('----------------')
    for j in i:
        print(j)

hello
----------------
h
e
l
l
o
world
----------------
w
o
r
l
d